


<h2>Order Details Partial</h2>
<ul>
    <li>@Model.Id</li>
    <li>@Model.PaymentMethod</li>
    <li>@Model.PizzaName</li>
    <li>@(string.Format("{0:c}" , Model.Price))</li>
    <li>@Model.UserFullName.</li>
    

</ul> 