



<ul class="list-group-item list-unstyled">
    <li class="font-weight-bold font-italic">@Model.PizzaName</li>
    <li>Order number: @Model.Id</li>
    <li>Paymet @Model.PaymentMethod</li>
    <li>Price: @(string.Format("{0:c}" , Model.Price))</li>
    <li>Ordered by: @Model.UserFullName.</li>
    <li>Sent To: @Model.Address</li>
    

    @*@Html.ActionLink("Details" , "OrderDetails" , "Order" , new {id = Model.Id})*@

</ul> 